@import 'tailwindcss';
@import './themes/colors.css';
@import './themes/base.css';

@theme inline {
  --font-primary: var(--astro-font);
  --font-secondary: var(--tesla-font);
  --font-tertiary: var(--roboto-font);
}
